/*******************************************TAG SELECTORS**************************************/
body {
    position: absolute;
    min-height: 100vh;
    height: fit-content;
    min-width: 100%;
    width: fit-content;
    background-color: #E9F8F9;
    clear: both;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    height: fit-content;
    margin: 0;
}

header {
    position: relative;
    height: fit-content;
    min-height: 14vh;
    width: fit-content;
    min-width: 100%;
    background-color: #C0EEF2;
    top: 0;
    white-space: nowrap;
}

footer {
    position: relative;
    background-color: #5BC0F8;
    bottom: 0;
    clear: both;
    height: fit-content;
    min-height: 100px;
    width: fit-content;
    min-width: 100%;
    overflow: visible;
    padding-bottom: 1vh;
    padding-top: 0.5vh;
    white-space: nowrap;
}

nav {
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: #567189;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    height: 30px;
    width: 100%;
}

article {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    width: 80%;
    height: fit-content;
    margin-bottom: 50px;
    color: #181823;
    text-align: justify;
    text-justify: inter-word;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

section {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: justify;
    text-justify: inter-word;
    width: 100%;
}

aside {
    color: #181823;
    float: right;
    padding-bottom: 50px;
    position: relative;
    right: 4%;
    text-align: justify;
    text-justify: inter-word;
    top: 0;
    width: 34%;
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    font-size: 1.1em;
    color: #D5CEA3;
}

h1 {
    position: absolute;
    float: right;
    right: 50%;
    top: 50%;
    transform: translate(50%,-100%);
    color: #0A2647;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 3rem;
}

h2 {
    color: #181823;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    left: 3%;
    padding: 1%;
    position: relative;
}

h3 {
    color: #181823;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    left: 7%;
    padding: 0%;
    position: relative;
}

table,
th,
td {
    border-collapse: collapse;
    border: 4px solid black;
    text-align: center;
}

table{
    width: 100%;
}

form {
    padding-left: 1vw;
}
textarea {
    margin: 0.5vw;
}
hr {
    border-color: grey;
    border-style: none;
    border-top-style: dotted;
    border-width: 0.5vw;
    width: 90%;
}
span{
    position: absolute;
    right:5vw;
    bottom:1.5vw;
    font-size: .9rem;
}
/*******************************************CLASS SELECTORS**************************************/
.pdf_view {
    border-style: solid;
    height: 1000px;
    width: 100%;
}

.tablenominated {
    background-color: #ffcccc;
}

.tablewon {
    background-color: #ccffb3;
}

.img-hover-zoom {
    height: 100px;
    overflow: hidden;
}

.img-hover-zoom img {
    transition: transform .5s ease;
}

.img-hover-zoom:hover img {
    transform: scale(1.5);
}

.style_link {
    color: #567189;
    text-decoration: none;
}

.contact{
    margin-left: 1vw;
}

.container{
    margin:1vw;
    position: relative;
    left: 2vw;
}
.theme{
    margin:1vw;
    font-size: 2vw;
}
.user{
    margin:1vw;
    font-size: 1vw;
}
.opinion{
    margin:1vw;
}
.reviewT{
    position: relative;
    left:3.5vw;
}
/*******************************************ID SELECTORS**************************************/
#main {
    position: absolute;
    left: 5%;
    top: 5px;
    transform: translateX(-50%);
}

#transcript {
    left: 20%;
    position: absolute;
    top: 5px;
    transform: translateX(-50%);
}

#cast {
    left: 35%;
    position: absolute;
    top: 5px;
    transform: translateX(-50%);
}

#awards {
    left: 50%;
    position: absolute;
    top: 5px;
    transform: translateX(-50%);
}

#adaptation {
    left: 65%;
    position: absolute;
    top: 5px;
    transform: translateX(-50%);
}

#reviews {
    left: 80%;
    position: absolute;
    top: 5px;
    transform: translateX(-50%);
}

#contact {
    left: 95%;
    position: absolute;
    top: 5px;
    transform: translateX(-50%);
}

#trailer {
    aspect-ratio: 16/9;
    position: relative;
    width: 100%;
}

#footertext{
    height: fit-content;
    margin-left: 5vw;
    width: fit-content;
}

#film_frame{
    float: left;
    position: absolute;
    top: 50%;
    margin-left: 2vw;
    transform: rotate(-30deg);
    transform: translateY(-50%);
    max-height:40%;
}

#article_withaside {
    float: left;
    left: 3%;
    width: 54%;
    transform: translateX(0);
}