<%# comments: this is the footer for view files related to 12 angry men. %>
<%# namely the 'adaptations, angry-men-home, awards, reviews, transcripts' files %>
<%# the rest of the ejs files have different footers and js scripts %>
        </div>
        <footer>
        </footer>
        <script src="../scripts/scriptAll.js"></script>
        <script src="../scripts/scriptAngryMen.js"></script>
        <script src="../scripts/scriptTooltip.js"></script>
    </body>
</html>