<%# comments: this is the header for all ejs files. %>
<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
    </head>
    <body>
        <div>
            <header>
            </header>
            <nav>
            </nav>