<%- include('partials/header'); -%>
            <article class="article-block row">
                <h2 class="h2--position h2--text-attributes line--width-full">your account</h2>
                <section name="user-information">
                    <h3> Your information </h3>

                </section>
                <section name="user-orders">
                    <h3> Your Orders </h3>

                </section>
            </article>
        </div>
        <footer>
        </footer>
        <script src="./scripts/scriptAll.js"></script>
        <script src="./scripts/scriptAccount.js"></script>
        <script src="./scripts/scriptTooltip.js"></script>
    </body>

</html>