<%- include('partials/header'); -%>
            <article class="article-block row">
                <h2 class="h2--position h2--text-attributes line--width-full">Critics Consensus</h2>
                <p>Sidney Lumet's feature debut is a superbly written, dramatically effective courtroom thriller that
                    rightfully stands as a modern classic.
                    <a href="#our-review" class="link--decoration">Read our review</a>
                </p>

                <section class="row">
                    <h3 class="h3--attributes line--width-full">People's Reviews</h3>
                    <hr class="hr--decoration">
                    <section class="container row">
                        <h4 class="h4--attributes line--width-full">Title: The over-used term "classic movie" really
                            comes
                            into its own
                            here!
                        </h4>
                        <p class="container__user line--width-full">User & Date: uds312 August 2002</p>
                        <p class="container__opinion">This once-in-a-generation masterpiece simply has no equal. The late
                            90's TV remake was quite adequate though totally unnecessary and in the upshot proved simply
                            that updating a film for updating's sake is really an exercise in futility. Even had it BEEN as
                            good - so what?

                            There could be few, if ANY film-goers reading this who are unaware of the plotline and in any
                            event many others have re-hashed this for you. The brilliance of the film is evident in so many
                            aspects. To begin with, the ability to not only sustain interest but to command the viewer's
                            attention for basically its entire running time within a setting of principally just one room,
                            borders on the inspired. Whether or not that would actually work with TODAY'S audiences is
                            another discussion! What we have here are twelve everyday Mr Joe Blows, summoned together on a
                            jury panel to decide a defendant's guilt or innocence with regards to a murder charge. If you
                            were to gather unto yourselves ANY twelve jurors at random, you would most likely be able to
                            pinpoint the Henry Fonda, Lee Cobb, E. G. Marshall, Jack Warden etc etc amongst them! Their very
                            "ordinariness" is where the film succeeded. Everyone can identify with at least ONE of those
                            characters. Whether or not he may WANT to is a different matter. The thinker, the sensitive man,
                            the arrogant bully, the opportunist, the mentally challenged loudmouth, the slimeball, the
                            emotionally withdrawn, the sheep etc - they're all here! Welcome to society folks! I dislike
                            society in the main - doubtless a reason I found this film to be such a revelation..even when I
                            was barely into my teens!

                            12 ANGRY MEN also pinpoints the shortcomings of the law, how "truth" can be so intrinsically
                            left-field and unintentionally flawed. Lumet, working within a minimal budget here, delivers
                            unstinting brilliance in both direction, character portrayal and script interpretation. He had
                            of course superb acting talent at his disposal although some of the most memorable performances
                            are from the lesser players. Some have denounced Fonda's role as being acceptable rather than
                            awesome. I think however he was to a great degree playing himself here, not to an audience. His,
                            is a study in deliberation and logic not show-pony stuff, but hell that never WAS Fonda was it?

                            This is a great great movie, as is evidenced by the extremely high user-vote worldwide. IF you
                            haven't seen it - you really should do something about that!</p>
                    </section>
                    <section class="container row">
                        <h4 class="h4--attributes line--width-full">Title: Dont judge by the age!</h4>
                        <p class="container__user line--width-full">User & Date: henriquelrf31 January 2020</p>
                        <p class="container__opinion">For a while I was not very receptive to watching films that were too
                            old. I always thought it would be difficult to get involved in the context, I couldn't be more
                            wrong! 12 angry men, is a great example of how a simple film can do magic with good actors, and
                            what great actors they are!</p>
                    </section>
                </section>

                <section id="our-review" class="row">
                    <h3 class="h3--attributes line--width-full">Our Review</h3>
                    <hr class="hr--decoration">
                    <section class="container row">
                        <h4 class="h4--attributes line--width-full">A classic movie showing the power of Reasoning</h4>
                        <p class="container__user line--width-full">uu2023 February 2023</p>
                        <p class="container__opinion">The conversations are very interesting. The movie rather starts slow
                            but build up half way through. The most fascinating acpect of the movie was how the pas
                            experience of the characters clouded their judgements</p>
                    </section>
                </section>
            </article>
<%- include('partials/footer'); -%>