<%- include('partials/header') %>
            <article class="article-block row">
                <h2 class="h2--position h2--text-attributes line--width-full">Contact us</h2>
                <p>Should you have any detailed information about the movie you would
                    like to be added, please
                    email
                    us.</p>
                <form action="mailto:m.haghshenas@students.uu.nl" method="post" enctype="text/plain"
                    class="form--positioning">
                    <div class="contact--margin-bottom"><label>Your name:</label>
                        <input type="text" name="Name">
                    </div>
                    <div class="contact--margin-bottom"><label> Your email: </label>
                        <input type="email" name="Email">
                    </div>
                    <label> Your message: </label><br>
                    <textarea name="Message" rows="8" cols="40" class="text-area--margin"></textarea><br>
                    <input type="submit" name="submit">
                </form>
                <p>Thank you for sharing your information. We will review your
                    information and const you know of
                    our decision of whether we will add it to our website in 3 working days.</p>
            </article>
        </div>
        <footer>
        </footer>
        <script src="../scripts/scriptAll.js"></script>
        <script src="../scripts/scriptTooltip.js"></script>
    </body>

</html>