<!DOCTYPE html>

<html lang="en" dir="ltr">

    <head>
    </head>

    <body>
        <div>
            <header>
                
            </header>
            <nav>

            </nav>

            <article class="article-block row">
                <h2 class="h2--position h2--text-attributes line--width-full"> 
                    Choose the movie you want to see:
                </h2>
                <ul class="pagination-list" id="paginated-list" aria-live="polite">
                    
                </ul>

                <nav class="pagination-container">
                    <button class="pagination-button" id="prev-button" title="Previous page" aria-label="Previous page">
                    &lt;
                    </button>
                    
                    <div id="pagination-numbers">
                    </div>
                    
                    <button class="pagination-button" id="next-button" title="Next page" aria-label="Next page">
                    &gt;
                    </button>
                    <!--
                    <div id="login-form" class="login-form">
                        <form>
                        <input type="text" id="username" placeholder="Username">
                        <input type="password" id="password" placeholder="Password">
                        <button type="submit" id="login-btn">Login</button>
                        </form>
                    </div>
                    -->
                </nav>
            </article>

        </div>
        <footer>
        </footer>
        <script> 
            let ejsArtists;
            if ('<%- ejsMovieAll %>' != null) ejsMovies = '<%- ejsMovieAll %>';
        </script>
        <script src="../scripts/scriptAll.js"></script>
        <script src="../scripts/scriptPagination.js"></script>
        <script src="../scripts/scriptTooltip.js"></script>
    </body>

</html>