<%- include('partials/header'); -%>
        </div>
        <footer>
        </footer>
        <script> 
        const ejsMovie    = '<%- ejsMovie %>';
        const ejsArtists  = '<%- ejsArtists %>';
        const ejsSchedule = '<%- ejsSchedule %>';
        </script>
        <script src="./scripts/scriptAll.js"></script>
        <script src="./scripts/scriptInfoClasses.js"></script>
        <script src="./scripts/scriptMovieInfo.js"></script>
        <script src="./scripts/scriptTooltip.js"></script>
    </body>

</html>