<!DOCTYPE html>

<html lang="en" dir="ltr">

    <head>
    </head>

    <body>
        <div>
            <header>
            </header>
            <nav>
                
            </nav>
        </div>
        <footer>
        </footer>
        <script> 
        let ejsMovie = '<%- ejsMovie %>';
        let ejsArtists = '<%- ejsArtists %>';
        let ejsSchedule = '<%- ejsSchedule %>';
        </script>
        <script src="./scripts/scriptAll.js"></script>
        <script src="./scripts/scriptInfoClasses.js"></script>
        <script src="./scripts/scriptMovieInfo.js"></script>
        <script src="./scripts/scriptTooltip.js"></script>
    </body>

</html>