<!DOCTYPE html>

<html lang="en" dir="ltr">

    <head>
    </head>

    <body>
        <div>
            <header>
                <h1> <%= ejsid %> </h1>
            </header>
            <nav>
                
            </nav>
        </div>
        <footer>
        </footer>
        <script> const jsid = '<%- JSON.stringify(ejsid) %>'; </script>
        <script src="./scripts/scriptAll.js"></script>
        <script src="./scripts/scriptMovieInfo.js"></script>
        <script src="./scripts/scriptTooltip.js"></script>
    </body>

</html>