<form>
    <div class="header">
        <div id="login-form" class="login-form">
    <input type="text" id="username" placeholder="Username">
    <input type="password" id="password" placeholder="Password">
    <button type="submit" id="login-btn">Login</button>
</form>