<!DOCTYPE html>
    <html lang="en" dir="ltr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>NOT-FOUND</title>
        <link rel="stylesheet" href="css/style.css">
    </head>
    <body class="body--background-color body--text-font resource-not-found">
        <article>
            <h1 class="h1--text-attributes"> 
                <%= resource %> RESOURCE NOT FOUND ❗️❗️❗️
            </h1>
        </article>
        <section>
            <p>
                click on the following to go to the <a href="./" class="link link--decoration">home page</a>
            </p>
        </section>
    </body>
</html>
