<%- include('partials/header'); -%>
            <article class="article-block row">
                <h2 class="h2--position h2--text-attributes line--width-full">Sign In</h2>
                <section class="row">
                    <h3 class="h3--attributes line--width-full">Fill in your information below</h3>
                    <form class = 'sign-form' action="/auth?log=sign" method="POST">
                        <label for="username">Username:</label>
                        <input type="text" id="username" name="username" class="sign-in__input" required autofocus>
                    
                        <label for="email">Email:</label>
                        <input type="email" id="email" name="email" class="sign-in__input" required>
                    
                        <label for="login">Login:</label>
                        <input type="text" id="login" name="login" class="sign-in__input" required>
                    
                        <label for="password">Password:</label>
                        <input type="password" id="password" name="password" class="sign-in__input" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters" required>

                        <label for="confirm-password">Confirm Password:</label>
                        <input type="password" id="confirmation" name="confirmation" class="sign-in__input" required autocomplete="off" minlength="8">
                    
                        <label for="address">Address:</label>
                        <textarea id="address" name="address" class="sign-in__input"></textarea>
                    
                        <label for="creditcard">Credit Card:</label>
                        <input type="text" id="creditcard" name="creditcard" class="sign-in__input" required minlength="18" maxlength="18" pattern="[0-9]+" title="enter 18 digits only" placeholder="enter 18 digits only">
                    
                        <button class="submit-btn" type="submit">Submit</button>
                    </form>
                </section>
            </article>
        </div>
        <footer>
        </footer>
        <script src="/scripts/scriptAll.js"></script>
        <script src="/scripts/scriptTooltip.js"></script>
        <script src="/scripts/scriptSignUp.js"></script>
    </body>

</html>