<!DOCTYPE html>

<html lang="en" dir="ltr">

    <head>
    </head>

    <body>
        <div>
            <header>
            </header>
            <nav>
                
            </nav>
        </div>
        <footer>
        </footer>
        <script> 
            let ejsMovieID = '<%- ejsMovieID %>';
            let ejsDate = '<%- ejsDate %>';
            let ejsTime = '<%- ejsTime %>';
            </script>
        <script src="./scripts/scriptAll.js"></script>
        <script src="./scripts/scriptTickets.js"></script>
        <script src="./scripts/scriptTooltip.js"></script>
    </body>

</html>