/************************************************ONLY CLASS SELECTORS AS STRICT BEM RECOMMENDS******************************************/

/* Extra small devices (phones, 600px and down) */
.body__container {
    clear: both;
    height: fit-content;
    min-height: 100vh;
    min-width: 100vw;
}

.body--background-color {
    background-color: #E9F8F9;
    margin: 0;
}

.body--text-font {
    font-family: 'Montserrat', sans-serif;
    font-size: 100%;
}

.film-frame {
    padding-top: 1.8rem;
    width: 3rem;
}

.film-frame:hover {
    transform: scale(1.2);
}

.header--fit-content {
    height: fit-content;
}

.header--background-colour {
    background-color: #C0EEF2;
}

.h1--text-attributes {
    color: #0A2647;
    font-family: 'Roboto', sans-serif;
    font-size: 220%;
}

.h1--position {
    position: relative;
    float: right;
    text-align: center;
    right: 50%;
    transform: translateX(50%);
}

.h1--width {
    padding: 15px;
    width: 74%;
}

.link--decoration {
    color: #324555;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-decoration: none;
}

.link--decoration:visited {
    color: #8daecc;
}

.link {
    color: white;
    text-decoration: none;
}

.link:hover {
    color: #5BC0F8;
}

.nav {
    background-color: #567189;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 100%;
    margin-bottom: 1rem;
    top: 0;
    position: sticky;
    text-align: center;
    z-index: 1;
}

.nav__no-margin{
    margin-bottom: 0;
    border-bottom: solid 5px #324555;
}

.nav__field {
    list-style-type: none;
    margin-top: 0.4rem;
}

.h2--position {
    margin: 0 auto;
    text-align: center;
}

.h2--text-attributes {
    color: #181823;
    font-family: 'Roboto', sans-serif;
    font-size: 2em;
    text-transform: uppercase;
}

.trailer-video {
    aspect-ratio: 16/8;
    width: 100%;
}

.trailer-caption--text-decorated {
    font-size: 1rem;
    text-align: center;
}

.aside {
    color: #181823;
    margin: 0 8vmin;
    text-align: justify;
    text-justify: inter-word;
}

.article {
    border: solid;
    color: #146C94;
    margin: 2vmin auto 0;
    text-align: center;
    width: 80%;
}

.footer--positioning {
    clear: both;
    position: relative;

}

.footer--fit-content {
    height: fit-content;
    min-height: 100px;
    min-width: 100%;
    padding: 0.5% 0 1%;
}

.footer--background-colour {
    background-color: #5BC0F8;
    padding-top: 0.8rem;
}

.footer__contact-link--no-colour-change {
    color: white;
    text-decoration: none;
}

.footer__jump-top--no-colour-change {
    color: white;
    text-decoration: none;
}

.footer__paragraph {
    font-size: 80%;
    line-height: 1.1rem;
    margin: 0 5vw;
    text-align: justify;
    text-justify: inter-word;
    width: fit-content;
}

.footer__jump-top--position-absolute {
    font-size: 60%;
    line-height: 1rem;
    margin: 0 5vw;
    text-align: justify;
    text-justify: inter-word;
    width: fit-content;
}

.movie-script {
    border-style: solid;
    min-height: 75%;
    height: 800px;
    margin: 2vh auto 0;
    text-align: center;
    width: 100%;
}

.article-block {
    color: #181823;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    height: fit-content;
    left: 50%;
    padding-bottom: 50px;
    position: relative;
    text-align: justify;
    text-justify: inter-word;
    transform: translateX(-50%);
    width: 80%;
}

.cast-table__head-element {
    border-collapse: collapse;
    border: 4px solid black;
    text-align: center;
}

.cast-table__body-element {
    border-collapse: collapse;
    border: 4px solid black;
    text-align: center;
}

.cast-table {
    border-collapse: collapse;
    border: 4px solid black;
    max-width: 100%;
    min-height: 90vh;
    text-align: center;
    width: 100%;
}

.cast-table__head {
    font-size: 1.3em;
}

.img-hover-zoom {
    height: 100px;
    overflow: hidden;
}

.img-hover-zoom img {
    transition: transform .5s ease;
}

.img-hover-zoom:hover img {
    transform: scale(1.5);
}

.hr--decoration {
    border-color: grey;
    border-style: none;
    border-top-style: dotted;
    width: 90%;
}

.h4--attributes {
    color: #181823;
    font-family: 'Roboto', sans-serif;
    font-size: 1.5rem;
    font-weight: bold;
    margin: 0;
}

.container__user {
    font-size: 0.8rem;
    margin: 0;
}

.container {
    left: 2vw;
    margin: 1vw;
    position: relative;
}

.container__opinion {
    margin: 1vw;
    font-size: 1rem;
}

.text-area--margin {
    margin-bottom: 0.8rem;
    margin-top: 1rem;
}

.contact--margin-bottom {
    margin-bottom: 0.8rem;
}

.h3--attributes {
    color: #181823;
    font-family: 'Roboto', sans-serif;
    font-size: 2em;
}

.adaptation-list--position-left {
    position: relative;
    right: 6%;
}

.select-dropdown {
    background-color: #fff;
    border-radius: 4px;
    border: 1px solid #ccc;
    display: inline-block;
    font-size: 0.6em;
    padding: 0.5em;
}

.fontssize-box {
    background-color: #fff;
    border-radius: 4px;
    border: 1px solid #ccc;
    display: inline-block;
    font-size: 0.6em;
    padding: 0.5em;
}

.tooltip {
    background: #AECDD0;
    border-radius: 15px;
    border: solid 2px;
    max-width: 90vw;
    overflow-wrap: break-word;
    padding: 15px;
    position: absolute;
    width: fit-content;
    z-index: 100;
}

.table1--width-low {
    margin-bottom: 2vmin;
    text-align: center;
}

.info-image--margin {
    margin-bottom: 10px;
}

.info-about--margin {
    margin-top: 5px;
    margin-bottom: 32px;
}

.film-frame--width {
    float: left;
    padding: 15px;
    width: 16%;
}

.navigation-list--two-row {
    float: left;
    padding: 15px;
    width: 25%;

}

.line--width-full {
    float: left;
    padding: 15px;
    width: 100%;
}

* {
    box-sizing: border-box;
}

.row::after {
    clear: both;
    content: "";
    display: table;
    max-width: 100%;
    width: 100%;
}

.hidden {
    display: none;
}

.nav-list {
    margin: 0;
}

.purchase-item__button {
    margin: 8px;
    height: 15vh;
    border-radius: 15px;
    padding: 8px;
    border-radius: 15px;
    border: 3px solid #054D69;
    background-color: transparent;
    font-size: inherit;
    width: 100%;
    cursor: pointer;
    display: block;
}

/* PAGINATION */

.pagination-list{
    display: inline;
}

.pagination-container {
    width: 100%;
    display: flex;
    align-items: center;
    position: relative;
    bottom: 0;
    padding: 1rem 0;
    margin-top: 1rem;
    justify-content: center;
}

.pagination-number,
.pagination-button{
    display: inline;
    font-size: 1.1rem;
    background-color: transparent;
    border: none;
    margin: 0.25rem 0.25rem;
    cursor: pointer;
    height: 2.5rem;
    width: 2.5rem;
    border-radius: .2rem;
}

.pagination-number:hover,
.pagination-button:not(.disabled):hover {
    background: #fff;
}

.pagination-number.active {
    color: #fff;
    background: #87c4db;
    border-style: hidden;
}

.paginated-item {
    list-style-type: none;
    width: 100%;
}

.paginated-item__button {
    margin: 8px;
    height: 15vh;
    border-radius: 15px;
    padding: 8px;
    border-radius: 15px;
    border: 3px solid #054D69;
    background-color: transparent;
    font-size: inherit;
    width: inherit;
    cursor: pointer;
}

/* Log and Sign */
.login-div{
    top: 0px;
    right: 5px;
    position: fixed;
    z-index: 999999;
    display:inline-flex;
    flex-direction: column;
}

.login-div button {
    background-color: #4CAF50;
    color: white;
    padding: 16px 20px;
    border: none;
    margin: 5px;
    cursor: pointer;
    opacity: 0.8;
    width: 100px;
  }
  
  .form-popup {
    display: none;
    position: fixed;
    bottom: 5px;
    right: 15px;
    border: 3px solid #054D69;
    z-index: 9;
  }
  
  .form-container {
    max-width: 300px;
    padding: 10px;
    background-color: #c5dceb;
  }
  
  .form-container input[type=text], .form-container input[type=password] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background: #f1f1f1;
  }
  
  .form-container input[type=text]:focus, .form-container input[type=password]:focus,
  .sign-form input:focus {
    background-color: #dddddd;
    outline: none;
  }
  
  .form-container .btn, .sign-form .btn {
    background-color: #4CAF50;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-bottom:10px;
    opacity: 0.8;
  }
  
  .form-container .cancel {
    background-color: rgb(205, 30, 30);
  }

  .form-container .btn:hover, .sign-form .btn:hover, .open-button:hover {
    opacity: 1;
  }

  .sign-form {
    display:inline-flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
  }

  /* .login-form {
    position: absolute;
    float: right;
    top: 1vh;
    right: 1vw;
    display: flex;
  }
  
  .login-form button{
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
  }  */

@media only screen and (max-width:659px) {
    .table--width-large {
        display: none;
    }
}

/* Small devices (portrait tablets and large phones, 660px and up) */
@media only screen and (min-width: 660px) {
    .table1--width-low {
        display: none;
    }

    .table2--width-low {
        display: none;
    }

    .nav-list{
        display: flex;
        justify-content: space-evenly;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .navigation-list--one-row {
        float: left;
        padding: 15px;
        width: 12%;
    }

    .footer__paragraph {
        font-size: 100%;
    }

    .footer__jump-top--position-absolute {
        font-size: 80%;
        line-height: 1.4rem;
        float: right;
    }

    .body--text-font {
        font-size: 120%;
    }

    .footer__paragraph {
        line-height: 1.7rem;
    }

    .figure{
        margin: 0;
    }
    
    .index-large {
        width: 40% !important;
        display: inline-block;
    }

    .article-large{
        float: left;
        left: 4%;
        position: sticky;
        text-align: justify;
        text-justify: inter-word;
        width: 53% !important;
        margin-top: 0;
    }

    .aside-large{
        color: #181823;
        float: right;
        right: 4%;
        width: 34% !important;
    }

    .article{
        border:none;
    }
}

@media only screen and (min-width: 1800px){
    .article-large{
        bottom: 5vh !important;
    }
}

   
