/*******************************************TAG SELECTORS**************************************/
body {
    position: relative;
    background-color: #E9F8F9;
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

header {
    background-color: #C0EEF2;
    position: relative;
    top: 0;
    height: fit-content;
    min-height: 14vh;
    min-width: 100%;
    width: fit-content;
    white-space: nowrap;
}

footer {
    position: absolute;
    bottom: 0;
    padding: 0.5vh 5vw;
    background-color: #537FE7;
    bottom: 0;
    min-width: 100%;
    width: fit-content;
    height: fit-content;
    min-height: 7rem;
    overflow: visible;
}

nav {
    background-color: #181823;
    color: white;
    height: 30px;
    position: sticky;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

article {
    color: #181823;
    position: relative;
    width: 55vw;
    left: 30vw;
    transform: translateX(-50%);
    padding-bottom: 50px;
}

section {
    width: 100%;
    text-align: justify;
    text-justify: inter-word;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

aside {
    color: #181823;
    width: 37vw;
    position: relative;
    top: 0px;
    padding-bottom: 50px;
    text-align: justify;
    text-justify: inter-word;
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    font-size: 1.1em;
}

h1 {
    color: #181823;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 3em;
}

h2 {
    color: #181823;
    position: relative;
    left: 3%;
    padding: 1%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h3 {
    color: #181823;
    position: relative;
    left: 7%;
    padding: 0%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

table,
th,
td {
    text-align: center;
    border: 4px solid black;
    border-collapse: collapse;
    margin-bottom: 50px;
}

form{
    padding-left: 1vw;
}
textarea{
    margin: 0.5vw;
}

/*******************************************CLASS SELECTORS**************************************/
.pdf_view {
    width: 100%;
    height: 1000px;
    border-style: solid;
}

.tablenominated {
    background-color: #ffcccc;
}

.tablewon {
    background-color: #ccffb3;
}

.img-hover-zoom {
    height: 100px;
    overflow: hidden;
}

.img-hover-zoom img {
    transition: transform .5s ease;
}

.img-hover-zoom:hover img {
    transform: scale(1.5);
}

.article_fullwidth {
    color: #181823;
    position: relative;
    width: 80vw;
    left: 50vw;
    transform: translateX(-50%);
    padding-bottom: 50px;
}

.style_link {
    color: #181823;
    text-decoration: none;
}

.contact{
    margin-left: 1vw;
}
/*******************************************ID SELECTORS**************************************/
#main {
    position: absolute;
    top: 5px;
    left: 5vw;
    transform: translateX(-50%);
}

#transcript {
    position: absolute;
    top: 5px;
    left: 20vw;
    transform: translateX(-50%);
}

#cast {
    position: absolute;
    top: 5px;
    left: 35vw;
    transform: translateX(-50%);
}

#awards {
    position: absolute;
    top: 5px;
    left: 50vw;
    transform: translateX(-50%);
}

#adaptation {
    position: absolute;
    top: 5px;
    left: 65vw;
    transform: translateX(-50%);
}

#reviews {
    position: absolute;
    top: 5px;
    left: 80vw;
    transform: translateX(-50%);
}

#contact {
    position: absolute;
    top: 5px;
    left: 95vw;
    transform: translateX(-50%);
}

#trailer {
    position: relative;
    width: 100%;
    aspect-ratio: 16/9;
}

#page-container {
    position: relative;
    min-height: 100vh;
}

#content-wrap {
    padding-bottom: 7rem;    /* Footer height */
}